/* ResetCSS Minifield*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
  margin: 0 ;
  font-family: Roboto;
}

#app-header{
  width: 100%;
  min-height: 60px;
  position: fixed;
  background: rgb(255, 0, 0);
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  z-index: 10;
  overflow: hidden;
}
#app-header a{
  color: white;
}
#app-header a:hover{
  text-decoration: none;
}
.search-view.col-md-4{
  padding: 0;
}
#app-header h1{
  color: white;
  font-size: 2.8em;
  margin-top: 10px;
  text-align: left;
  margin-left: 40px;
  font-weight:800;
  text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
}

#app-container{
  padding-top: 90px;
  width: 100%;
  margin: 0 auto;
  min-height: 75vh;
}

#app-footer{
  width: 100%;
  min-height: 10vh;
}
#app-footer p{
  width: 40%;
  text-align: center;
  color: #333;
  margin: 0 auto;
  padding-top: 30px;
}
.character-marvels{
  width: 100%;
  overflow: hidden;
  background-color: white;
  margin-bottom: 16px;
}

.character-marvel{
  float: left;
  text-align: center;
  margin: 0 auto 20px;
}

.character-marvel img{
  width: 100%;
  height: 300px;
  float: left;
}
.character-marvel .col-md-12{
  padding: 0;
}
.left{
  float: left;
  margin-bottom: 0px;
}
.info{
  overflow: hidden;
  background-color: #333;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.info h1{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.search-form{
  width: 100%;
  margin: 0 auto 0px;
  text-align: center;
}
.search-form input[type="text"]{
  padding:10px;
  width: 85%;
  font-size: 22px;
  color: red;
  height: 10vh;
  border: 0px;
  border-radius: 0;
  float: left;
}
#app-header .form-group {
  margin-bottom: 0;
}
.search{
  float: left;
  height: 10vh;
  width: 15%;
  background-color: white;
  border: 1px solid #eeeeee;
  margin-left: 0px;
}
.search img{
  padding: 5px;
  width: 100%;
}

.loader{
  background-image: url("../image/marvel.gif");
  background-size: cover;
  height: 60vh;
  font-size: 1px;
}
